/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color-light);
}

/* variables */
:root{
    --header-height: 4.5rem;
    /* dark' */
    --main-color-light: hsl(0, 100%, 99%);

    /* text */
    --text-color-dark: hsl(208, 40%, 29%);

    /* details */
    --detail-yellow: hsl(39, 93%, 78%);
    --detail-salmon: hsl(6, 79%, 65%);

    /* fonts */
    --subtitle-size: 1.25rem;
    --topic-size: 1.75rem;

    /* size */
    --card-size: 8.5rem;
}

/* base */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color-dark);
    background-color: var(--main-color-light);
}

header{
    padding: 1.25rem 1.5rem;
}

section{
    margin: 3.5rem 0;
    padding: 0 1rem;
    justify-content: center;
}

#header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--main-color-light);
}

#header.scroll{
    box-shadow: 0px 0px 12px rgb(55, 94, 129);
}

#home, #about, #skills, #portfolio, #contact{
    min-height: 100vh;
}

.grid{
    display: grid;
    gap: 2rem;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: hsl(0, 0%, 96%);
}
  
body::-webkit-scrollbar-thumb {
    background-color: hsl(0deg 0% 76%); 
    border-radius: 20px;
    border: 2px solid hsl(0, 0%, 96%);
}

/* logo */
h1{
    display: inline;
}

.logo{
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 1.05rem;
    margin: 0.5rem 1rem;
}

.logo span, .toggle{
    color: var(--detail-salmon);
} 

/* navigation */
.toggle{
    display: inline;
    cursor: pointer;
    padding: 0 0.5rem;
}

.switch-container label{
    display: inline-table;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding: 2px;
    width: 2rem;
    height: 1.2rem;
    border-radius: 60px;
}

.switch-container label:before, .switch-container label:after {
    display: block;
    position: absolute;
    top: 0px;
    left: -1px;
    bottom: 1px;
    content: '';
}

.switch-container label:before {
    right: -6px;
    background-color: var(--text-color-dark);
    border-radius: 60px;
    transition: all 0.4s;
}

.switch-container label:after {
    width: 0.6rem;
    height: 0.6rem;
    margin: 0.1rem;
    background-color: var(--main-color-light);
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
    left: 2px;
    top: 2px;
}

label:hover:before{
    background-color: var(--detail-salmon);
}

#mode:checked + label:before {
    background-color: var(--text-color-dark);
}

#mode:checked + label:after {
    transform: translateX(1.3rem);
    background-color: var(--main-color-light);
}

hr{
    display: none;
}

nav.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    text-transform: uppercase;
}
  
nav.container ul li{
    text-align: center;
}
  
nav.container ul li a{
    transition: color 0.2s;
    position: relative;
}
  
nav.container ul li a:hover{
    color: var(--detail-salmon);
}
  
nav.container ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--detail-salmon);
  
    position: absolute;
    left: 0;
    bottom: -0.3rem;
  
    transition: width 0.2s;
}
  
nav.container div:first-child ul li a:hover::after{
    width: 100%;
}
  
nav.container .menu{
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: .2s;
    display: none;
}

nav.container i{
    font-size: 2.5rem;
}

a i.ajuste{
    font-size: 1.5rem !important;
}

li.ajuste{
    width: 2.625rem;
    height: 2.8125rem;
    display: grid;
    align-items: center;
}

.social-media{
    margin-top: 2.5rem;
    text-align: center;
}

.social-media ul{
    grid-auto-flow: column;
    gap: 1rem;
}

.social-media ul li{
    border: 1px solid rgba(196, 196, 196, 0.1);
    border-radius: 50%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.social-media div{
    margin-top: 2rem;
}
  
/* mostrar menu */
nav.show .menu{
    opacity: 1;
    visibility: visible;
  
    background-color: var(--detail-yellow);
  
    width: 100%;
    height: 100%;
  
    position: fixed;
    top: 0;
    left: 0;
  
    display: grid;
    place-content: center;
}
  
nav.show .menu ul{
    display: grid;
}
  
nav.show ul.grid{
    gap: 2rem;
}

nav .icon-close{
    font-family: 'Montserrat', sans-serif !important;
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: -1.5rem;
    right: 1.5rem;

    transition: .2s;
}

nav.show div.icon-close{
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
}

/* dark/light mode */
input[type="checkbox"]{
    appearance: none;
    display: none;
}
  
/* home */
#home{
    display: grid;
    align-items: center;
    padding: 0 3rem;
}

#home .container{
    display: block;
}

#home .container div:first-child{
    display: inline-block;
}

#home .container div:last-child{
    display: inline-flex;
}

.spot-left{
    width: 12rem;
    height: 15.7rem;
    background-image: url(../assets/img/mancha1\ light.png);
    background-size: 12rem;
    position: absolute;
    z-index: -1;
    top: 8rem;
    left: 0;
}

.spot-right{
    width: 6rem;
    height: 9.55rem;
    background-image: url(../assets/img/mancha2\ light.png);
    background-size: 6rem;
    position: absolute;
    z-index: -1;
    top: 30rem;
    right: 0;
}

.cover h2{
    font-size: 2rem;
    font-weight: 500;
    width: 5rem;
}

.cover p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: var(--subtitle-size);
    font-weight: 500;
}

.cover p, .btn{
    color: var(--detail-salmon);
    letter-spacing: 1px;
}

.btn{
    text-transform: uppercase;
    font-size: 0.75rem;
    transition: 0.2s;
    border: 1.5px solid var(--detail-salmon);
    border-radius: 50px;
    width: 8.2rem;
    height: 2.8rem;
    background: none;
    margin: 0 0.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    background-color: var(--detail-salmon);
    color: var(--main-color-light);
}

.btn:first-child{
    margin-left: 0;
}

.btn:last-child{
    margin-right: 0;
}

.cover div{
    display: flex ;
}

/* about */
#about div{
    width: 18rem;
    margin: auto;
    text-align: center;
    padding: 0.5rem;
}

#about img{
    width: 16rem;
    margin: 1.625rem auto;
}

#about ul{
    display: inline-flex;
}

h3{
    font-size: var(--topic-size);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 1.5rem;
} 

#about p{
    font-size: 1rem;
    margin-bottom: 0.7rem;
    letter-spacing: 0.5px;
    text-align: left;
}

.social-media-about nav i{
    font-size: 2.5rem;
    transition: 0.2s;
}

.social-media-about nav i:hover{
    color: var(--detail-salmon);
}

a i.ajuste{
    font-size: 1.5rem !important;
}

.social-media-about nav ul li.ajuste{
    width: 2.625rem;
    height: 2.8125rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

#about div.social-media-about{
    width: auto;
}

.social-media-about ul li{
    border: 1px solid rgba(196, 196, 196, 0.1);
    border-radius: 50%;
    margin: 0.375rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

#about nav{
    margin-top: 2rem;
}

/* skills */
#skills{
    max-width: 62.5rem;
    margin: auto;
}

.cards{
    display: flex;
    width: 18rem;
    margin: auto;
}

.card-description, .card-skill{
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 25px;
    font-size: 0.875;
    margin: 1rem 0.5rem;
    text-align: center;
    display: grid;
    align-items: center;
}

.card-description{
    background-color: var(--detail-salmon);
    margin-top: 3rem;
    color: var(--main-color-light);
}

.card-skill{
    background-color: var(--detail-yellow);
    color: var(--text-color-light);
    padding-top: 1.75rem;
    padding-bottom: 1.5rem;
}

div.card-skill p:first-child{
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
}

/* tools */
.tools{
    text-align: center;
}

.tools table{
    max-width: 18rem;
    margin: auto;
}

.tools table th{
    padding: 1.0rem;
}

.tools table th i{
    font-size: 3rem;
}

.tools table div.progress{
    display: inline-flex;
    margin-top: 1.375rem;
}

.tools table div.progress div{
    width: 0.55rem;
    height: 0.55rem;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin: 0 0.15rem;
}

.tools table div.progress div:first-child{
    margin-left: 0;
}

.tools table div.progress div:last-child{
    margin-right: 0;
}

.tools table div.progress div.active{
    background-color: var(--detail-yellow);
}

/* portfolio */
.projects{
    margin: 2.5rem 0;
}

/* swiper */
.swiper-container {
    width: 18rem;
    height: 25rem;
}

.item-portfolio{
    width: 18em;
    height: 20rem;
    background-color: hsl(0deg 0% 99%);
    display: inline-block;
    padding: 3rem;
    margin: auto;
    border-radius: 25px;
    transition: 0.2s;
    box-shadow: 0px 4px 20px rgba(77, 166, 186, 0.38);
}

.item-portfolio div img{
    transform: scale(0.7);
}

.item-portfolio div{
   display: grid;
   justify-content: center;
}

.btn-portfolio{
    color: var(--text-color-dark);
    border: 1.5px solid var(--text-color-dark);
    transition: 0.2s;
    margin: 1rem;
}

.item-portfolio:hover{
    filter: brightness(75%);
}

.btn-portfolio:hover{
    filter: brightness(125%);
    color: var(--detail-salmon);
    border: 1.5px solid var(--detail-salmon);
    background-color: var(--main-color-dark);
}

.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: var(--detail-salmon);
}

.modal div{
    margin: 1.5rem auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.25rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border-radius: 25px;
    overflow: none;
    color: var(--main-color-dark);
    text-align: center;
}

.modal .close{
    color: var(--main-color-dark);
    font-size: 1.5rem;
    float: right;
}

.modal h4{
    font-size: 1.25rem;
}

.modal div div{
    background: none;
}

.modal div div video{
    border: 3px dotted var(--detail-salmon);
    padding: 0.5rem;
    width: 12rem;
}

.modal div div h4{
    padding: 0.625rem 0;
}

.modal div div div a.btn-modal{
    text-transform: uppercase;
    font-size: 0.875rem;
    transition: 0.2s;
    border: 1.5px solid var(--detail-salmon);
    border-radius: 50px;
    width: 10rem;
    height: 3.215rem;
    background: none;
    margin: 0 0.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color-dark);
}

.modal div div div a.btn-modal:hover{
    color: var(--text-color-light);
    background-color: var(--detail-salmon);
}

.modal{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    display: none;
    opacity: 0;
}

.modal:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, 0.7);
    position: fixed;
    z-index: 999;
    padding: 2rem;
    display: block;
    overflow-y: auto;
}

.statistic{
    background-color: var(--detail-yellow);
    color: var(--main-color-dark);
    font-size: 1.25rem;
    font-weight: 500;
    padding: 2.5rem;
    border-radius: 25px;
    position: relative;
    max-width: 18rem;
    margin: auto;
}

.statistic div p:first-child{
    font-size: 1.75rem;
    margin: 2rem auto 0;
}

.statistic p{
    width: 7.625rem;
    text-align: center;
    margin: auto;
}

.values div:first-child p:first-child{
    margin-top: 0;
}

.spot-left-statistic, .spot-right-statistic{
    display: none;
}

/* contact */
#contact{
    position: relative;
}

#contact form{
    background-color: #FFFCFC;
    color: #030102;
    font-weight: 500;
    padding: 16px 30px 30px;
    position: relative;
    border-radius: 20px;
    max-width: 18rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 20px rgba(77, 166, 186, 0.38);
}

#contact form div{
    width: 100%;
    margin-top: 1.5rem;
}

#contact form fieldset{
    width: 100%;
    display: inline;
    border: none;
    left: auto;
}

#contact form fieldset:last-child{
    float: right;
}

input[type='text'], input[type='email'], input[type='tel'], textarea{
    background-color: #E2E6EE;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    margin-top: 12px;
    margin-bottom: 24px;
    box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
    display: flex;
    width: 100%;
}

input[type='text'], input[type='email'], input[type='tel']{
    height: 40px;
}

input[type='text']:focus, input[type='email']:focus, input[type='tel']:focus, textarea:focus{
    background-color: #FFFCFC;
    box-shadow: 0 0 0 0;
    outline: 0;
}

::placeholder{
    color: #9EA8BD;
    font-family: 'Montserrat', sans-serif;
}

input[type='submit']{
    border: 1px solid var(--detail-salmon);
    background-color: var(--main-color-light);
    color: var(--detail-salmon);
    text-transform: uppercase;
    font-size: 1rem;
    transition: 0.2s;
    border-radius: 50px;
    padding: 0.7rem 1.4rem;
    letter-spacing: 1px;
}

input[type='submit']:hover{
    transform: scale(1.05, 1.05);
}

/* footer */
footer{
    background-color: #375E81;
    padding: 1rem 0;
    margin: 3.625rem 1rem 1.5rem;
    text-align: center;
    color: var(--detail-yellow);
    border-radius: 50px;
    min-width: 18rem;
    font-size: 0.75rem;
}

/* back to top */
.back-to-top{
    background: #375E81;
    color: var(--detail-yellow);
  
    position: fixed;
    right: 1rem;
    bottom: 1rem;
  
    padding: 1.5rem;
    clip-path: circle();
  
    font-size: 2rem;
    line-height: 0;
  
    visibility: hidden;
    opacity: 0;
  
    transition: 0.3s;
    transform: translateY(100%) rotate(-180deg);
}
  
.back-to-top.show{
    visibility: visible;
    opacity: 1;
    transform: translateY(0) rotate(-90deg);
}

@media only screen and (min-width: 480px) and (max-width: 779px){
/* variables */
:root{    
    /* fonts */
    --subtitle-size: 1.25rem;
    
    /* size */
    --card-size: 10rem;
}
    
/* layout */
section{
    margin: 3.5rem auto;
    padding: 0;
}

.logo{
    font-size: 1.5rem;
}

h3{
    font-size: 1.75rem;
}
    
/* home */
#home{
    min-height: 100vh;
    display: inline-flex;
}
    
#home .container{
    display: grid;
    padding: 1rem;
}
    
.spot-left{
    width: 18rem;
    height: 23.6rem;
    background-size: 18rem;
}
    
.spot-right{
    width: 9rem;
    height: 14.4rem;
    background-size: 9rem;
    top: 28rem;
    right: 0;
}
    
.btn, .btn:hover{
    font-weight: 500;
}
    
/* about */
#about{
    max-width: 70rem;
    margin: auto;
    display: block;
}
    
#about img{
    width: 26rem;
    margin: 1.625rem 0;
}
    
#about div{
    text-align: center;
    width: auto;
}
    
#about div div.text-about{
    display: grid;
    position: relative;
    padding: 2rem 1.625rem;
    width: 27rem;
    margin: auto;
}
    
#about div div.text-about p{
    text-align: left;
    font-size: 1.125rem;
}

#about div.social-media-about{
    margin: auto;
}
    
/* skills */    
.cards{
    padding: 2rem;
    width: 26rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
    
.card-description, .card-skill{
    font-size: 1rem;
}
    
.card-description{
    padding-left: 1rem;
    padding-right: 1rem;
}
    
div.card-skill p:first-child{
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-top: 0.75rem;
}

article.tools table{
    max-width: 21rem;
    margin: auto;
}
    
article.tools table th{
    padding: 1rem 1.5rem;
}

.tools table th i{
    font-size: 4rem;
}

.tools table div.progress div{
    width: 0.65rem;
    height: 0.65rem;
}
    
/* portfolio */
.projects{
    text-align: center;
}

.swiper-container{
    width: 28rem;
}
    
.item-portfolio{
    width: 22rem;
    height: 21rem;
    margin: 2rem;
    padding: 3rem 0 0;
}
    
.item-portfolio div img{
    transform: scale(0.8);
}
    
.modal div{
    margin: 1.5rem auto;
    padding: 1.25rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border-radius: 25px;
    overflow: none;
    color: var(--main-color-dark);
}
    
.modal .close{
    color: var(--main-color-dark);
    font-size: 1.5rem;
    float: right;
}
    
.modal div div{
    background: none;
}
    
.modal div div video{
    border: 3px dotted var(--detail-salmon);
    padding: 1rem;
    width: 18rem;
}
    
.modal div div h4{
    padding: 0.625rem 0;
}
    
.modal div div div a.btn-modal{
    text-transform: uppercase;
    font-size: 0.875rem;
    transition: 0.2s;
    border: 1.5px solid var(--detail-salmon);
    border-radius: 50px;
    width: 10rem;
    height: 3.215rem;
    background: none;
    margin: 0 0.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color-dark);
}
    
.modal div div div a.btn-modal:hover{
    color: var(--text-color-light);
    background-color: var(--detail-salmon);
}
    
.modal:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, 0.7);
    position: fixed;
    z-index: 999;
    padding: 3.125rem;
    display: block;
    overflow-y: auto;
}
    
.grid{
    gap: 0;
}
    
.statistic{
    grid-auto-flow: column;
    margin: 2rem auto;
    width: 26rem;
}
    
.values{
    margin: auto;
}
    
.statistic p{
    width: 10rem;
    margin: 0 1rem;
}

.statistic p:first-child{
    margin: 2rem 1rem 0;
}

.values div:first-child p:first-child{
    margin-top: 0;
}
    
/* contact */
#contact{
    padding: 0 3rem;
}

#contact form{
    max-width: 35rem;
}

footer{
    font-size: 1rem;
    padding: 1.5rem 0;
}
}

@media only screen and (min-width: 780px) and (max-width: 1179px){
/* variables */
:root{
    /* fonts */
    --subtitle-size: 1.625rem;

    /* size */
    --card-size: 10rem;
}

/* layout */
section{
    margin: 3.5rem auto;
}

.logo{
    font-size: 1.5rem;
}

h3{
    font-size: 1.75rem;
}

/* home */
#home{
    min-height: 100vh;
    display: inline-flex;
    margin: 5rem;
}

#home .container{
    display: grid;
}

.spot-left{
    width: 20rem;
    height: 26.2rem;
    background-size: 20rem;
}

.spot-right{
    width: 12rem;
    height: 19.2rem;
    background-size: 12rem;
    top: 20rem;
    right: 0;
}

.btn, .btn:hover{
    font-weight: 500;
}

/* about */
#about{
    max-width: 70rem;
    margin: auto;
    display: block;
}

#about img{
    width: 30rem;
    margin: 1.625rem 0;
}

#about div{
    text-align: center;
    width: auto;
}

#about div div.text-about{
    display: grid;
    position: relative;
    padding: 2rem 1.625rem;
    width: 37.5rem;
    margin: auto;
}

#about div div.text-about p{
    text-align: left;
    font-size: 1.125rem;
}

#about div.social-media-about{
    margin: auto;
}

/* skills */
#skills .inline-skills{
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
}

.cards{
    padding: 2rem;
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
}

.card-description, .card-skill{
    font-size: 1.1rem;
}

.card-description{
    padding-left: 1rem;
    padding-right: 1rem;
}

div.card-skill p:first-child{
    font-size: 3.15rem;
    margin-bottom: 1rem;
    padding-top: 0.75rem;
}

article.tools table{
    max-width: 21rem;
    margin: auto;
}

article.tools table th{
    padding: 1rem 1.5rem;
}

.tools table th i{
    font-size: 4rem;
}

.tools table div.progress div{
    width: 0.65rem;
    height: 0.65rem;
}

/* portfolio */
.projects{
    text-align: center;
}

/* swiper */
.swiper-slide, .swiper-container{
    width: auto;
}

.item-portfolio{
    width: 30em;
    height: 21rem;
    margin: 2rem;
}

.item-portfolio div img{
    transform: scale(1);
}

.modal div{
    margin: 1.5rem auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.875rem;
    padding-bottom: 0.5rem;
    width: 90%;
    border-radius: 25px;
    overflow: none;
    color: var(--main-color-dark);
}

.modal .close{
    color: var(--main-color-dark);
    font-size: 1.5rem;
    float: right;
}

.modal div div{
    background: none;
}

.modal div div video{
    border: 3px dotted var(--detail-salmon);
    padding: 1rem;
    width: 28rem;
}

.modal div div h4{
    padding: 0.625rem 0;
}

.modal div div div a.btn-modal{
    text-transform: uppercase;
    font-size: 0.875rem;
    transition: 0.2s;
    border: 1.5px solid var(--detail-salmon);
    border-radius: 50px;
    width: 10rem;
    height: 3.215rem;
    background: none;
    margin: 0 0.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color-dark);
}

.modal div div div a.btn-modal:hover{
    color: var(--text-color-light);
    background-color: var(--detail-salmon);
}

.modal:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, 0.7);
    position: fixed;
    z-index: 999;
    padding: 3.125rem;
    display: block;
    overflow-y: auto;
}

.grid{
    gap: 0;
}

.statistic{
    grid-auto-flow: column;
    margin: auto;
    max-width: 43.75rem;
}

.values{
    display: flex;
    margin: auto;
}

.statistic p{
    width: 10rem;
    margin: 0 1rem;
}

.statistic div p:first-child{
   margin-top: 0;
}

/* contact */
#contact form{
    max-width: 43.75rem;
}

#contact form fieldset{
    width: 49%;
}

footer{
    font-size: 1rem;
    padding: 1.5rem 0;
}
}

/* versao pc */
@media only screen and (min-width: 1180px){
/* variables */
:root{

    /* fonts */
    --subtitle-size: 1.625rem;

    /* size */
    --card-size: 12.5rem;
}

/* layout */
section{
    margin: 3.5rem 7.5rem;
}

.logo{
    font-size: 1.5rem;
}

h3{
    font-size: 1.75rem;
}

/* navigation */
nav.container{
    font-size: 0.875rem;
}

nav.container .menu{
    opacity: 1;
    visibility: visible;
    top: 0;
    display: contents;
}

nav .menu ul{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

nav .menu ul li a.title{
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
}

nav .menu ul li a.title.active{
    font-weight: bold;
    -webkit-font-smoothing: auto;
}

nav .icon-menu{
    display: none;
}

.social-media, nav .menu .social-media ul, .social-media div{
    margin: 0;
    gap: 1rem;
}

.social-media{
    display: flex;
}
  
hr{
    display: block;
}

/* home */
#home{
    min-height: 100vh;
    display: inline-flex;
}

#home .container{
    display: grid;
}

.spot-left{
    width: 20rem;
    height: 26.2rem;
    background-size: 20rem;
}

.spot-right{
    width: 12rem;
    height: 19.2rem;
    background-size: 12rem;
    top: 20rem;
    right: 0;
}

.btn, .btn:hover{
    font-weight: 500;
}

/* about */
#about{
    max-width: 70rem;
    margin: auto;
    display: block;
}

#about img{
    width: 40rem;
    margin: 1.625rem 0;
}

#about div{
    display: flex;
    text-align: center;
    width: auto;
}

#about div div.text-about{
    display: grid;
    position: relative;
    padding: 8rem 1.625rem;
}

#about div div.text-about p{
    text-align: left;
    font-size: 1.125rem;
}

#about div div.text-about ul{
    text-align: left;
}

#about div.social-media-about{
    margin: 0;
}

/* skills */
#skills .inline-skills{
    display: inline-flex;
    justify-content: space-between;
    width: 58rem;
    margin-left: auto;
    margin-right: auto;
}

.cards{
    padding: 2rem;
}

.card-description, .card-skill{
    font-size: 1.25rem;
}

.card-description{
    padding-left: 1rem;
    padding-right: 1rem;
}

div.card-skill p:first-child{
    font-size: 3.25rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
}

article.tools{
    margin-left: 5.25rem;
    display: flex;
    float: right;
}

article.tools table th{
    padding: 1rem 1.5rem;
}

.tools table th i{
    font-size: 4rem;
}

.tools table div.progress div{
    width: 0.65rem;
    height: 0.65rem;
}

/* portfolio */
.projects{
    text-align: center;
}

/* swiper */
.swiper-container {
    width: 50rem;
}

.item-portfolio{
    width: 37.5em;
    height: 21rem;
    margin: 2rem;
}

.item-portfolio div img{
    transform: scale(1);
}

.modal div{
    margin: 1.5rem auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.875rem;
    padding-bottom: 0.5rem;
    width: 75%;
    border-radius: 25px;
    overflow: none;
    color: var(--main-color-dark);
}

.modal .close{
    color: var(--main-color-dark);
    font-size: 1.5rem;
    float: right;
}

.modal div div{
    background: none;
}

.modal div div video{
    border: 3px dotted var(--detail-salmon);
    padding: 1rem;
    width: 28rem;
}

.modal div div h4{
    padding: 0.625rem 0;
}

.modal div div div a.btn-modal{
    text-transform: uppercase;
    font-size: 0.875rem;
    transition: 0.2s;
    border: 1.5px solid var(--detail-salmon);
    border-radius: 50px;
    width: 10rem;
    height: 3.215rem;
    background: none;
    margin: 0 0.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color-dark);
}

.modal div div div a.btn-modal:hover{
    color: var(--text-color-light);
    background-color: var(--detail-salmon);
}

.modal:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, 0.7);
    position: fixed;
    z-index: 999;
    padding: 3.125rem;
    display: block;
    overflow-y: auto;
}

.statistic{
    grid-auto-flow: column;
    padding: 4rem;
    max-width: 60rem;
}

.values{
    display: flex;
    max-width: 62.5rem;
    margin: auto;
    z-index: 999;
}

.statistic p{
    width: 10rem;
    margin: 0 2rem;
}

.statistic div p:first-child{
    margin-top: 0;
}

.spot-left-statistic{
    background-image: url(../assets/img/mancha1\ estatistica.png);
    background-size: 14.2rem;
    width: 14.2rem;
    height: 13.2rem;
    position: absolute;
    z-index: 0;
    display: block;
    left: -2px;
    top: -1px;
}

.spot-right-statistic{
    background-image: url(../assets/img/mancha2\ estatistica.png);
    background-size: 17.5rem;
    width: 15.75rem;
    height: 16.5rem;
    position: absolute;
    z-index: 0;
    right: 0;
    top: -2rem;
    display: block;
}

/* contact */
#contact form{
    max-width: 43.75rem;
}

#contact form fieldset{
    width: 49%;
}

.spot-left-contact{
    width: 15rem;
    height: 19.15rem;
    background-image: url(../assets/img/mancha1\ contato.png);
    background-size: 15rem;
    position: absolute;
    z-index: -1;
    top: 8rem;
    left: -7.5rem;
}

.spot-right-contact{
    width: 10rem;
    height: 13.9rem;
    background-image: url(../assets/img/mancha2\ contato.png);
    background-size: 10rem;
    position: absolute;
    z-index: -1;
    bottom: 1rem;
    right: -7.5rem;
}

footer{
    font-size: 1rem;
    padding: 1.5rem 0;
}
}