/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--purple);
}

/* variables */
:root{
    /* colors' */
    --purple: hsl(245, 29%, 54%);
    --green: hsl(158, 48%, 72%);
    --yellow: hsl(47, 100%, 82%);
    --pink: hsl(344, 97%, 71%);
    --gray: hsl(0, 0%, 38%);
}

/* base */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--gray);
}

header{
    padding: 0.75rem 1.25rem;
}

section{
    padding: 0 1.25rem;
    justify-content: center;
}

section:first-child{
    margin-top: 3.5rem;
}

#header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--yellow);
}

#header.scroll{
    box-shadow: 0px 0px 6px var(--purple);
}

main{
    min-height: 80vh;
}

/* navigation */
nav{
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* container */
.container h3, .container a, .container aside div{
    margin: 0.25rem 0;
}

div.container{
    display: grid;
    position: relative;
}

/* buttons */
.button.new{
    background-color: var(--yellow);
    box-shadow: 1px 1px 4px hsl(244, 45%, 78%);
    padding: 0.625rem 1.25rem;
    border-radius: 0.625rem;
    width: 11.1rem;
}

.actions button{
    width: 100%;
    height: 50px;
    border: none;
    color: #fff;
    background: var(--green);
    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    color: var(--purple);
    transition: 0.2s;
}

.actions button:hover{
    background: var(--yellow);
}

.button.new{
    display: inline-block;
    margin-bottom: 1rem;
}

.button.cancel, .options button{
    color: var(--pink);
    border: 2px var(--pink) solid;
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: 0.2s;
}

.options button#edit{
    color: var(--purple);
    border: 2px var(--purple) solid;
}

.options button{
    width: 100%;
    margin: 0 0.5rem;
}

.button.cancel:hover, .options button:hover{
    opacity: 1;
}

div.popup div.options{
    display: flex;
    margin: 1.25rem 0 0;
}

/* aside */
.search{
    display: inline-block;
    position: relative;
    margin-bottom: 1rem !important;
}

input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#busca{
    height: 2rem;
    width: 16.75rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #c7c7c7;
    border-radius: 0.625rem;
}

#busca::placeholder{
    font-style: italic;
}
  
#btnBusca{
    color: var(--pink);
    font-size: 1.75rem;
    transform: rotateY(180deg);
    background: none;
    border: none;
    position: absolute;
    right: 0.5rem;
}

/* modal */
.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    display: none;
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
    display: flex;
}

.modal{
    overflow: auto;
    background: #f0f2f5;
    padding: 2.4rem;
    max-width: 37.5rem;
    width: 90%;
    height: 95%;
    position: relative;
    z-index: 1;
    border-radius: 0.625rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* form */
form{
    height: 100%;
}

#form{
    width: 100%;
}

#form h2{
    margin-top: 0;
    color: var(--purple);
}

#form input, #form textarea{
    border: none;
    border-radius: 0.625rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 0.8rem;
    width: 100%;
    resize: none;
}

#form .input-group span{
    color: var(--pink);
    transition: 0.2s;
}

#form .input-group span:hover::after{
    content: 'Campo obrigatório';
    font-size: 0.7rem;
    padding: 0 0 5px 5px;
}

#form .input-group{
    margin-top: 0.8rem;
}

#form .input-group small{
    opacity: 0.5;
}

#form .input-group.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form .input-group.actions .button, .input-group.actions button{
    width: 48%;
}

#form label{
    width: 100%;
    display: block;
    margin-bottom: 0.25rem;
}

#form img{
    width: 1rem;
}

#form .stars{
    display: flex;
}

#form .stars div{
    margin: 0.5rem;
}

#rating{
    display: none;
}

/* listagem */
.content{
    padding: 0;
    text-align: center;
    width: 100%;
}

.content img.detalhes, .feedback img{
    border: 3px dotted var(--pink);
    padding: 5px;
    margin: 0 1.875rem;
    transition: 0.2s;
    width: 11.25rem;
    height: 15.625rem;
}

.content div{
    margin: 1.875rem 0;
    position: relative;
    display: inline-block;
}

div.comment{
    max-width: 30rem;
    word-wrap: break-word;
    margin: auto;
    display: block;
}

#del{
    max-width: 15rem;
    margin: auto;
}

div#registration{
    margin-top: 0;    
}

.feedback .rating img{
    border: none;
    width: 2rem;
    height: 2rem;
    margin: 0;
}

.feedback .rating{
    margin: 1rem 0;
}

.content img.detalhes:hover{
    transform: scale(1.02, 1.02);
}

/* modal feedback */
.feedback{
    background: #f0f2f5;
    padding: 1.5rem;
    max-width: 37.5rem;
    width: 90%;
    position: relative;
    z-index: 1;
    border-radius: 0.625rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.feedback a{
    color: var(--pink);
    font-size: 20px;
    float: right;
    margin: 0;
}

.feedback div h4{
	padding: 10px 0;
    font-size: 1.25rem;
    color: var(--purple);
}

.content .popup{
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	visibility: hidden;
	display: none;
	opacity: 0;
}

.content .popup:target{
	opacity: 1;
	visibility: visible;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 999;
	display: block;
    overflow-y: auto;
    margin-bottom: 100px;
}

/* footer */
footer{
    position: relative;
    background: var(--green);
    padding: 1rem 2rem;
    z-index: 3;
}
  
footer .logo, footer .grid{
    margin-bottom: 1rem;
}

footer span{
    color: var(--pink);
    font-weight: 500;
    text-shadow: #f0f2f5 1px 1px 3px;
}
  
footer .social li{
    margin-right: 2rem;
    transition: 0.3s;
    display: inline-block;
    font-size: 1.5rem;
}

footer .social a{
    display: flex;
}
  
footer .social a:hover{
    transform: translateY(-4px);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background: #f0f2f5;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 20px;
    border: 3px solid #f0f2f5;
}

@media(min-width: 500px){
/* container */
.content div.header{
    display: block;;
}

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}

@media(min-width: 600px){
/* container */
div.container, .container div.header{
    display: flex;
    justify-content: space-between;
}

.container div.header{
    align-items: center;
    flex-direction: column;
}

/* aside */
aside{
    position: inherit;
    width: 18.75rem;
    margin-right: 18rem;
}

aside div.fixed{
    position: fixed;
    padding: 2.48rem 2rem 2rem 0;
    height: 100%;
    box-shadow: 6px 0 4px -6px #888;
}

/* form */
#form img{
    width: 2rem;
}

#form .stars div{
    margin: 1rem;
}
}

@media(min-width: 700px){
aside{
    margin-right: 16rem;
}
}

@media(min-width: 900px){
/* container */
.container div.header{
    flex-direction: row;
}
}